.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img img {
    height: 150px;
    margin-bottom: 5px;
}

.pokemon_status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.1rem;
    padding: 1.5rem 1rem;
    width: 85vw;
    border-radius: 1rem;
    background-color: rgb(228, 32, 32);
    color: #f0f0f0;
}

.pokemon_name, 
.pokemon_type, 
.pokemon_abilities {
    text-align: center;
}

.pokemon_name p, 
.pokemon_type p, 
.pokemon_abilities p {
    font-size: 18px;
}

@media screen and (min-width: 850px) {

    .pokemon_status {
        width: 400px;
        padding: 2rem 1rem;
    }

    .img img {
        height: 180px;
        margin-bottom: 15px;
    }

}