
.title {
    text-align: center;
    padding: 3.5rem 0px;
    font-family: 'titulo', sans-serif;
}

.inputs_container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 2rem;
}

.input {
    padding: 7px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid rgb(73, 73, 73);
}

.button {
    padding: 5px 13px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(228, 32, 32);
    color: #ebebeb;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(202, 29, 29);
}